@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a asp-area="" asp-controller="Movies" asp-action="Index">here</a> to see the list of movies.</p>
    <p>You can also click on the navbar links to navigate.</p>
</div>
